                /*csslint empty-rules:false, ids:false, outline-none:false, order-alphabetical:false, fallback-colors: false, unique-headings: false, box-model: false, box-sizing: false, qualified-headings: false, gradients: false, star-property-hack: false, import: false, universal-selector: false, unqualified-attributes: false, overqualified-elements: false*/


/*
========================================================
    BROWSER RESET - gebaseerd op html5 doctor css reset
     http://html5doctor.com/html-5-reset-stylesheet
========================================================
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}


/*
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}
*/

nav ul {
    list-style: none;
    width: 100%;
}

nav ul li {
    display: flex;
    align-items: center;
}

ul {
    margin-left: 1.1em;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: inherit;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    line-height: 1.5em;
    color: #424242;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/*
========================================================
    GENERAL
========================================================
*/

@font-face {
    font-family: "nexaregular";
    src: url("../fonts/NexaRegular.otf") format("otf");
}

@font-face {
    font-family: "nexabold";
    src: url("../fonts/nexaregular.otf") format("otf");
}

@font-face {
    font-family: "MeltdownMF";
    src: url("../fonts/MeltdownMF.ttf") format("ttf");
}

@font-face {
    font-family: "Toxia_FRE";
    src: url("../fonts/Toxia_FRE.ttf") format("ttf");
}


body {
    font-family: "nexaregular", sans-serif;
    background-color: #F3E5DC;
}

input:focus {
    outline: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

h1 {
    text-align: center;
    padding-top: 1em;
}


/*
========================================================
    NAVIGATION
========================================================
*/

#mobile-menu {
    display: none;
}

nav {
    height: 4em;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none
}

nav ul li {
    font-family: "nexabold", sans-serif;
    font-size: 1.5em;
    color: #00D66C;
}

.fa-home:before,
#hamburger-menu {
    font-size: 3em;
    /*    margin-top: -0.5em;*/
    color: #00D66C;
}

.fa-user:before {
    font-size: 3em;
    margin-top: -0.5em;
    color: #00D66C;
}


/*
===============
    SEARCH
===============
*/

nav input[type=text] {
    font-family: "nexabold", sans-serif;
    color: #00D66C;
    width: 10em;
    box-sizing: border-box;
    border: 0;
    border-radius: .5em;
    font-size: 1.2em;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

nav input[type=text]:focus {
    width: 30em;
}


/*Source: https://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css*/

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #00D66C;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #00D66C;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #00D66C;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #00D66C;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #00D66C;
}

placeholder {
    font-family: "nexaregular", sans-serif;
}


/*
===============
    DROPDOWN
===============
*/

.dropbtn {
    font-family: "nexabold", sans-serif;
    color: #00D66C;
    margin-top: 0.4em;
    background-color: #ffffff;
    font-size: 1.8em;
    border: none;
    cursor: pointer;
}

.dropbtn a {
    font-size: 3em;
}

.dropdown {
    position: relative;
    display: flex;
}

.dropdown .bottem {
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.dropdown .bottem a {
    margin: 0 1em;
}

.dropdown-content {
    border: .1px solid lightgrey;
    border-radius: .5em;
    display: none;
    position: absolute;
    min-width: 100em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 1em;
    color: #00D66C;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #F3E5D8
}

.dropdown:hover .dropdown-content {
    display: block;
}

#hamburger-menu:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /*    background-color: #3e8e41;*/
}

.fa-angle-down:before {
    margin-right: 0.1em;
    font-size: 1em;
    color: #00D66C;
}

.fa-book:before {
    margin-right: 0.5em;
}

.dropdown-content h3 {
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    font-size: 1.5em;
    color: #00D66C;
}

.bottem {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
}

.bottem a {
    font-size: 1.5em;
}


/*
========================================================
    MAIN
========================================================
*/

main {
    background-color: #F3E5D8;
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter {
    display: flex;
    justify-content: center;
}

label {
    position: relative;
    display: inline-block;
}

label:before {
    content: '';
    height: 1.9em;
    position: absolute;
    right: 0.4em;
    top: 0.18em;
    width: 22px;
    background: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    pointer-events: none;
    display: block;
}

label:after {
    content: " ";
    position: absolute;
    right: 15px;
    top: 46%;
    margin-top: -3px;
    z-index: 2;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.9px 4px 0 4px;
    border-color: #aaa transparent transparent transparent;
    pointer-events: none;
}

label select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 30px 0 10px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    line-height: 36px;
    height: 36px;
    background: #fff;
    margin: 0 5px 5px 0;
}


/*
========================================================
    ARTICLES
========================================================
*/

article {
    background-color: #FBF7F3;
    border-radius: .5em;
    margin: 1em;
    width: 20em;
    display: flex;
    flex-direction: column;
}

article .meta {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

article .meta button,
#loginbutton {
    margin: 1em 0;
    border-radius: 1.75em;
    box-shadow: 0px 3px 0px #ca2b53;
    color: #ffffff;
    background: #ff3368;
    width: 7em;
    height: 2.2em!important;
    border: 0.0625em solid rgba(0, 0, 0, 0.1);
    text-indent: .3em;
    outline: none;
    cursor: pointer;
}

#loginbutton {
    width: 100%;
}

article img {
    width: 100%;
    height: 10em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

article .contentcontainer {
    padding: .5em;
}

article p {
    font-size: 1.3em;
}

.contentcontainer p {
    font-size: 1em;
    padding: 1em;
}

.fullstory {
    width: 50em;
}


/*
========================================================
    LOGIN FORM
========================================================
*/

.loginbody {
    background-image: url(../images/Edinburgh.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbody form {
    display: flex;
    background-color: #fff;
    height: 20em;
    border-radius: .5em;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.loginbody form fieldset,
.loginbody form input {
    width: 100%;
    padding: 1.2em;
    border-radius: .5em;
    margin-bottom: 1em;
}

fieldset {
    padding: 1em 0;
    display: flex;
}

.loginform input {
    border: 1px solid #606060;
    padding: 1em 2em;
    margin-top: 1em;
}

.loginform input[type=date] {
    border: 1px solid #606060;
    border-radius: 0.5em;
    padding: 1em;
}


/*
========================================================
    NEERSLACHTIG
========================================================
*/


main #neerslachtig p {
    background-image: url(../images/rain.jpg);
    font-size: 1em;
    color: #ffffff;
    letter-spacing: 0.5em;
    line-height: 1em;
    font-family: "MeltdownMF";
}


/*
========================================================
    GEFRRUSTREERD
========================================================
*/


main #gefrustreerd p {
    background-image: url(../images/violence.jpg);
    font-size: 1em;
    color: #ffffff;
    letter-spacing: 0.5em;
    line-height: 1em;
    font-family: "Toxia_FRE";
}


/*
========================================================
    KATER
========================================================
*/


main #kater p {
    background-image: url(../images/dizzy.jpg);
    font-size: 4em;
    color: blue;
    font-family: "Toxia_FRE";
}

div #kater p #katereffect {
    font-size: 6em;
}




/*
========================================================
    MEDIA QUERIES
========================================================
*/

@media only screen and (max-device-width: 70em) {
    #mobile-menu {
        display: none;
    }
    nav input[type=text] {
        width: 25em;
    }
    @media only screen and (max-device-width: 60em) {
        #mobile-menu {
            display: none;
        }
        nav input[type=text] {
            width: 20em;
        }
        @media only screen and (max-device-width: 50em) {
            
            main #neerslachtig p {
                font-size: 10em;
            }
            
              main #gefrustreerd p {
                font-size: 2em;
            }
            
                 main #kater p {
                font-size: 2em;
            }
            
            #mobile-menu {
                display: block;
            }
            .fa-home:before {
                display: none;
            }
            nav input[type=text] {
                width: 15em;
            }
            article img {
                display: none;
            }
            @media only screen and (max-device-width: 40em) {
                
                
                
                #mobile-menu {
                    display: block;
                }
                .fa-home:before {
                    display: none;
                }
                nav input[type=text] {
                    width: 2em;
                }
                article {
                    width: 40em;
                }
                article img {
                    display: none;
                }
                section {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                @media only screen and (max-device-width: 30em) {
                    #mobile-menu {
                        display: block;
                    }
                    .fa-home:before {
                        display: none;
                    }
                    article {
                        width: 40em;
                    }
                    article img {
                        display: none;
                    }
                    section {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
